---
import Icon from "../dynamic/Icon.svelte";
---

<footer class="bg-black">
  <div class="text">
    <p>© Benjamin Bellette.</p>
    <p>All rights reserved</p>
  </div>

  <div class="social">
    <a href="https://www.facebook.com/ben.bellette.DOP/"
      ><Icon width="16px" height="16px" name="facebook" />
    </a>
    <a href="https://www.instagram.com/ben.bellette/"
      ><Icon width="16px" height="16px" name="instagram" />
    </a>
    <a href="https://www.linkedin.com/in/benjamin-bellette-7b9263181"
      ><Icon width="16px" height="16px" name="linkedin" />
    </a>
    <a href="https://www.vimeo.com/benbellette">
      <Icon width="16px" height="16px" name="youtube" />
    </a>
    <a href="mailto:ben.bellette.gmail.com"
      ><Icon width="16px" height="16px" name="mail" />
    </a>
  </div>
</footer>

<style>
  footer {
    padding: 2rem;
  }

  .text p {
    text-align: center;
  }

  .social {
    display: flex;
    justify-content: center;
    gap: 1rem;

    padding: 1rem;
  }

  @media (min-width: 35rem) {
    footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .text p {
      text-align: start;
    }
  }

  @media (hover: hover) {
    a:hover {
      color: #b1b1b1;
    }
  }
</style>
