---
import {
  FaFacebookF,
  FaInstagram,
  FaLinkedinIn,
  FaVimeoV,
  FaEnvelope,
} from "react-icons/fa/index.js";
---

<footer class="bg-black p-8 sm:flex sm:items-center sm:justify-between">
  <p class="text-center sm:text-left">
    © Benjamin Bellette.<br />All rights reserved
  </p>

  <div class="flex justify-center gap-8 p-8 stroke-white text-base">
    <a
      class="hover:text-grey-400"
      href="https://www.facebook.com/ben.bellette.DOP/"
    >
      <FaFacebookF size="2em" />
    </a>
    <a
      class="hover:text-grey-400"
      href="https://www.instagram.com/ben.bellette/"
    >
      <FaInstagram size="2em" />
    </a>
    <a
      class="hover:text-grey-400"
      href="https://www.linkedin.com/in/benjamin-bellette-7b9263181"
    >
      <FaLinkedinIn size="2em" />
    </a>
    <a class="hover:text-grey-400" href="https://www.vimeo.com/benbellette">
      <FaVimeoV size="2em" />
    </a>
    <a class="hover:text-grey-400" href="mailto:ben.bellette.gmail.com">
      <FaEnvelope size="2em" />
    </a>
  </div>
</footer>
