---
import Page from "../layouts/Page.astro"
---

<Page title="Benjamin Bellette | Commercials" description="wtf">
    <h1 class="title">Comme&shy;rcials</h1>
    <p>Commercials here</p>
</Page>

<style>
    p {
        text-align: center;
    }
</style>