---
import Page from "../layouts/Page.astro"
import Slice from "../components/Slice.astro"

// TODO: declare slice data here and map through
---

<!-- TODO: fix up description... -->
<Page title="Benjamin Bellette | Films" description="What to put here?">
    <h1 class="title">Films</h1>
    <section>
        <Slice title='Reel' text='Cinematography highlights' img="assets/reel.png" />
        <Slice title='Mumlife' text='Oscar-nominated film' img="assets/mumlife.png" />
    </section>
    <section>
        <h2 class="subtitle">Short films</h2>
        <p>Films section here</p>
    </section>
    <section>
        <h2 class="subtitle">Docu&shy;mentaries</h2>
        <p>Documentaries here</p>
        <p>Call this section docos instead?</p>
    </section>
</Page>

<style>
    p {
        text-align: center;
    }
</style>