---
import Page from "../layouts/Page.astro"
import Slice from "../components/Slice"

// TODO: declare slice data here and map through
---

<!-- TODO: fix up description... -->
<Page title="Benjamin Bellette | Films" description="Melbourne and Sydney-based cinematographer.">
    <h1 class="title">Films</h1>
    <section>
        <Slice client:visible />
        <!-- <Slice client:only="react" /> -->
    </section>
    <section>
        <h2 class="subtitle">Short films</h2>
        <p>Films section here</p>
    </section>
    <section>
        <h2 class="subtitle">Docu&shy;mentaries</h2>
        <p>Documentaries here</p>
        <p>Call this section docos instead?</p>
    </section>
</Page>

<style>
    p {
        text-align: center;
    }
</style>