---
import Layout from '../layouts/Layout.astro'
import LogoSpinner from '../components/LogoSpinner.astro'
import BackgroundVideo from '../components/BackgroundVideo.astro'
---

<Layout title="Benjamin Bellette" description="Melbourne and Sydney based cinematographer">
	<BackgroundVideo />
	<div class="center">
		<LogoSpinner link="/motion" />
		<h1 class="child">Benjamin Bellette</h1>
		<h4 class="child">Director of Photography</h4>
	</div>
</Layout>

<style>
	@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500);

	body {
		background: #111;
	}

	.center {
		position: relative;
		display: grid;
		place-content: center;
		height: 100%;
	}

	h1,
	h4 {
		/* TODO: move this to base styles */
		font-family: "Open Sans", arial, sans-serif;
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;

		margin: 0 auto;
		color: white;
	}

	h1 {
		font-size: 1.5em;
		line-height: 1.8;
		letter-spacing: 0.5em;
	}

	h4 {
		padding: 10px 14px;

		font-size: 0.75em;
		line-height: 1.4;
		letter-spacing: 0.125em;
	}
</style>