---
import BackgroundVideo from "../components/dynamic/BackgroundVideo.svelte";
import LogoSpinner from "../components/static/LogoSpinner.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Benjamin Bellette"
  description="Melbourne and Sydney-based cinematographer."
>
  <BackgroundVideo client:idle />
  <section class="relative grid place-content-center h-screen">
    <LogoSpinner link="/motion" />
    <h1>Benjamin Bellette</h1>
    <h2 class="text-sm mt-3 selection:bg-pink">Director of Photography</h2>
  </section>
</Layout>
