---
import Layout from '../layouts/Layout.astro'
import LogoSpinner from '../components/LogoSpinner.astro'
import BackgroundVideo from '../components/BackgroundVideo'
---

<Layout title="Benjamin Bellette" description="Melbourne and Sydney-based cinematographer.">
	<BackgroundVideo client:load />
	<section class="center">
		<LogoSpinner link="/films" />
		<h1>Benjamin Bellette</h1>
		<h4>Director of Photography</h4>
	</section>
</Layout>

<style>
	body {
		background-color: #111;
	}

	.center {
		position: relative;
		display: grid;
		place-content: center;
		height: 100%;

		/* hack to prevent flickering on Chrome/Mac */
		opacity: 0.99;
	}

	.center h1 {
		text-indent: 0;
	}

	.center h4 {
		padding: 10px 14px;
	}
</style>