---
import Layout from "../layouts/Layout.astro";
import LogoSpinner from "../components/static/LogoSpinner.astro";
import BackgroundVideo from "../components/dynamic/BackgroundVideo.svelte";
---

<Layout
  title="Benjamin Bellette"
  description="Melbourne and Sydney-based cinematographer."
>
  <BackgroundVideo client:load />
  <section class="relative grid place-content-center h-screen">
    <LogoSpinner link="/motion" />
    <h1 class="indent-0">Benjamin Bellette</h1>
    <h4 class="mt-3">Director of Photography</h4>
  </section>
</Layout>
