---
import Layout from '../layouts/Layout.astro'
import LogoSpinner from '../components/LogoSpinner.astro'
import BackgroundVideo from '../components/BackgroundVideo'
---

<Layout title="Benjamin Bellette" description="Melbourne and Sydney based cinematographer">
	<BackgroundVideo client:load />
	<div class="center">
		<LogoSpinner link="/motion" />
		<h1>Benjamin Bellette</h1>
		<h4>Director of Photography</h4>
	</div>
</Layout>

<style>
	@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

	h1::selection {
		text-shadow: 2px 2px rgb(210, 100, 125),
			3px 3px rgb(210, 100, 125),
			4px 4px rgb(210, 100, 125),
			5px 5px rgb(210, 100, 125);
	}

	h4::selection {
		/* Chrome forces this to be semi-transparent */
		/* We can override this by setting the opacity */
		background-color: rgba(210, 100, 125, 0.996);
	}

	body {
		background-color: #111;
	}

	.center {
		position: relative;
		display: grid;
		place-content: center;
		height: 100%;

		/* dirty hack that works */
		/* but why does it work? */
		opacity: 0.99;
	}

	h1,
	h4 {
		/* TODO: move this to base styles */
		font-family: "Open Sans", arial, sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;

		margin: 0 auto;
		color: white;
	}

	h1 {
		font-size: 1.5em;
		line-height: 1.8;
		letter-spacing: 0.5em;
	}

	h4 {
		padding: 10px 14px;

		font-size: 0.75em;
		line-height: 1.4;
		letter-spacing: 0.125em;
	}
</style>