---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<!-- TODO: fix up description... -->
<Layout title="Benjamin Bellette | Motion" description="What to put here?">
    <Header />
    <h1>Motion</h1>
    <p>This is the main content of the page</p>
    <Footer />
</Layout>

<style>
    body {
        background-color: #111;
        color: #fff;
    }


    body h1 {
        background-color: white;
        color: hsl(0 0% 0% / 1);
        padding: 1rem;
    }
</style>