---
import Page from "../layouts/Page.astro"
import Slice from "../components/Slice.astro"

// TODO: declare slice data here and map through
---

<!-- TODO: fix up description... -->
<Page title="Benjamin Bellette | Motion" description="What to put here?">
    <h1 class="title">Motion</h1>
    <section>
        <Slice title='Reel' text='Cinematography highlights' img="assets/reel.png" />
        <Slice title='Mumlife' text='Oscar-nominated film' img="assets/mumlife.png" />
    </section>
    <section>
        <h2 class="subtitle">Documentaries</h2>
    </section>
</Page>

<style>

</style>