---
import Page from "../layouts/Page.astro"
---

<!-- TODO: fix up description... -->
<Page title="Benjamin Bellette | Motion" description="What to put here?">
    <h1>Motion</h1>
    <p>This is the main content of the page</p>
</Page>

<style>
    body h1 {
        background-color: white;
        color: hsl(0 0% 0% / 1);
        padding: 1rem;
    }
</style>