---
import Page from "../layouts/Page.astro"
import Slice from "../components/Slice.astro"
---

<!-- TODO: fix up description... -->
<Page title="Benjamin Bellette | Motion" description="What to put here?">
    <h1 class="title">Motion</h1>
    <section>
        <Slice img="assets/reel.png">
            <h3>Reel</h3>
            <p>Video highlights</p>
        </Slice>
        <Slice img="assets/mumlife.png">
            <h3>Mumlife</h3>
            <p>Oscar-nominated film</p>
        </Slice>
    </section>
    <section>
        <h2 class="subtitle">Documentaries</h2>
    </section>
</Page>

<style>

</style>