---
import Page from "../layouts/Page.astro"
---

<Page title="Benjamin Bellette | Stills" description="Melbourne and Sydney-based cinematographer.">
    <h1 class="title">Music Videos</h1>
    <p>Music videos here</p>
</Page>

<style>
    p {
        text-align: center;
    }
</style>