---
import Page from "../layouts/Page.astro";
import Slider from "../components/Slider.svelte";
import Tile from "../components/Tile.svelte";

const pics = [
  "https://i.imgur.com/VmNhVhL.jpg",
  "https://i.imgur.com/0bVicqt.jpg",
  "https://i.imgur.com/vFJOq8s.jpg",
];
---

<Page
  title="Benjamin Bellette | Stills"
  description="Melbourne and Sydney-based cinematographer."
>
  <Slider client:load title="Stills" pics={pics} />
  <section id="bts">
    <h2 class="subtitle">Behind the scenes</h2>
    <Tile />
  </section>
  <section id="photography">
    <h2 class="subtitle">Photography</h2>
  </section>
</Page>

<style>
  p {
    text-align: center;
  }
</style>
