---
import Slider from "../components/Slider.svelte";
import type { Item } from "../components/Tile.svelte";
import Tile from "../components/Tile.svelte";
import Page from "../layouts/Page.astro";

const pics = [
  "https://i.imgur.com/VmNhVhL.jpg",
  "https://i.imgur.com/0bVicqt.jpg",
  "https://i.imgur.com/vFJOq8s.jpg",
];

// TODO: move this data somewhere else
const mumlife: Item[] = [
  {
    type: "iframe",
    content: "https://player.vimeo.com/video/707425833",
    label: "",
  },
  {
    type: "img",
    content: "https://i.imgur.com/vByh3Ds.jpg",
    label: "arst",
  },
  {
    type: "img",
    content: "https://i.imgur.com/m9pUpLU.jpg",
    label: "arst",
  },
  {
    type: "img",
    content: "https://i.imgur.com/0o06GPO.jpg",
    label: "arst",
  },
  {
    type: "img",
    content: "https://i.imgur.com/du1xzlu.jpg",
    label: "arst",
  },
  {
    type: "img",
    content: "https://i.imgur.com/VO43cLW.jpg",
    label: "arst",
  },
  {
    type: "img",
    content: "https://i.imgur.com/IIM63Df.jpg",
    label: "arst",
  },
  {
    type: "img",
    content: "https://i.imgur.com/SZH4pKh.jpg",
    label: "arst",
  },
  {
    type: "img",
    content: "https://i.imgur.com/WpzfttP.jpg",
    label: "arst",
  },
  {
    type: "img",
    content: "https://i.imgur.com/NirDIiW.jpg",
    label: "arst",
  },
  {
    type: "img",
    content: "https://i.imgur.com/v72J2Jg.jpg",
    label: "arst",
  },
  {
    type: "img",
    content: "https://i.imgur.com/6p4g0yO.jpg",
    label: "arst",
  },
  {
    type: "img",
    content: "https://i.imgur.com/Y9AYfO7.jpg",
    label: "arst",
  },
];

const bts: Item[] = [
  {
    type: "img",
    content: "https://i.imgur.com/22bOxRj.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/USpuWXu.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/gEPHCCL.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/AcON5os.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/ezeE3g1.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/RAJYFMe.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/wt8sYFZ.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/ySvlLT8.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/wpLPzuc.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/PlC9rqh.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/Zxa4KRM.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/hwXVxsA.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/PCKxfBR.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/YIjQI0n.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/5LBXHbR.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/wQzJB9e.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/ZbjWRGL.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/aJJiuCa.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/23AuO4P.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/pVmy300.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/Xl5zux4.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/4znchdF.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/hbaEKwe.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/MD5Mtep.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/vIwQfs6.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/53epSLY.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/byXw3Al.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/7rrfmZ7.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/yCzB65P.jpg",
    label: "Stills",
  },
];

const photography: Item[] = [
  {
    type: "img",
    content: "https://i.imgur.com/bYNd8Q7.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/MfGJYnM.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/HWmXZmc.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/LIZM1Cm.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/ROsM6Cl.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/DfelLvX.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/YsCjVjz.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/znO6Zyk.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/EIA2emQ.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/7vyuJpC.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/VoRxD4E.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/ckFMfwr.jpg",
    label: "Stills",
  },
  {
    type: "img",
    content: "https://i.imgur.com/CvhCbiA.jpg",
    label: "Stills",
  },
];
---

<Page
  title="Benjamin Bellette | Stills"
  description="Melbourne and Sydney-based cinematographer."
>
  <Slider client:idle title="Stills" pics={pics} />
  <section id="bts">
    <h2 class="subtitle">Behind the scenes</h2>
    <div class="w-main mx-auto my-16">
      <div class="aspect-video">
        <Tile
          client:idle
          title="Behind the scenes"
          subtitle="Stills"
          img="https://i.imgur.com/22bOxRj.jpg"
          items={bts}
        />
      </div>
      <p class="text-center my-12 hover:opacity-60 group transition-opacity">
        <a href="https://photos.app.goo.gl/cHsbhvC1iu7HWO253">
          View portfolio <span
            class="inline-block group-hover:translate-x-1 transition-transform ease-linear"
            >»</span
          >
        </a>
      </p>
    </div>
  </section>
  <section id="photography">
    <h2 class="subtitle">Photography</h2>
    <div class="w-main mx-auto my-12">
      <div class="aspect-video">
        <Tile
          client:idle
          title="Photography"
          subtitle="Stills"
          img="https://i.imgur.com/bYNd8Q7.jpg"
          items={photography}
        />
      </div>
      <p class="text-center my-12 hover:opacity-60 group transition-opacity">
        <a href="https://photos.app.goo.gl/8Bnz5w4rWyK3dRNe8">
          View portfolio <span
            class="inline-block group-hover:translate-x-1 transition-transform ease-linear"
            >»</span
          >
        </a>
      </p>
    </div>
  </section>
</Page>

<style>
  .w-main {
    width: min(75rem, 90%);
  }

  .h-tile {
    height: min(40vw, 640px);
  }
</style>
