---
import Page from "../layouts/Page.astro"
---

<Page title="Benjamin Bellette | Stills" description="wtf">
    <h1 class="title">Stills</h1>
    <section>
        <div class="header">
            <h2 class="subtitle">Behind the scenes</h2>
            <p>View portfolio</p>
        </div>
        <p>TODO GALLERY</p>
    </section>
    <section>
        <div class="header">
            <h2 class="subtitle">Photography</h2>
            <p>View portfolio</p>
        </div>
        <p>TODO GALLERY</p>
    </section>
</Page>

<style>
    .header {
        background-color: #fff;
        padding-bottom: 2rem;
    }

    .header .subtitle {
        padding-bottom: 1rem;
    }

    .header p {
        color: #111;
        text-align: center;
    }
</style>