---
import logo from "../assets/logo.svg"

export interface Props {
    link: string
}

const { link } = Astro.props
---

<a href={link}>
    <img width="252" height="148" draggable="false" src={logo} />
</a>

<style>
    a {
        margin: 50px auto;
    }

    img {
        border-radius: 50%;
        user-select: none;
        transition: transform .6s ease-in-out;
    }

    img:hover {
        transform: rotate(90deg);
    }
</style>