---
export interface Props {
    link: string
}

const { link } = Astro.props
const logo = "/images/logo.png"
---

<a href={link}>
    <img draggable="false" src={logo} />
</a>

<style>
    a {
        margin: 50px auto;
    }

    img {
        border-radius: 50%;
        user-select: none;
        transition: transform .6s ease-in-out;
    }

    img:hover {
        transform: rotate(90deg);
    }
</style>